*{
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
    padding: 0px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    background-color: whitesmoke;
}
header{
    text-align: center;
    background-color:  rgb(58, 167, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 20px;
}

nav li{
    display: inline;
}
nav{margin-top: 0px;
    color: white;
    background-color: rgb(44, 44, 44);
    word-spacing: 6px;
    padding: 15px;
}

nav a:hover{
    color: green;
    text-decoration: underline;
}


nav ul{
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    
  }

h2{
    color: rgb(58, 167, 58);
    text-align: left;
    margin-top: 10px;
    margin: 25px;
}

p{
    color: darkgray;
    font-size: medium;
    margin-bottom: 30px;
    text-align: justify;
}

.container{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.column{
    background-color: white;
    display: block;
    box-shadow: 2px 5px 2px rgb(219, 219, 219),-5px -5px 5px rgba(219, 219, 219);
    padding: 35px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}


h3{
    color: rgb(44, 44, 44);
}

footer{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 44, 44);
    word-spacing: 3px;
    padding: 5px;
}

#nome{
    display: block;
    padding: 5px;
    height: 15px;
    width: 300px;
}

#email{
    display: block;
    padding: 5px;
    height: 15px;
    width: 300px;
}

#telefone{
    display: block;
    padding: 5px;
    height: 15px;
    width: 300px;
}

#endereco{
    display: block;
    padding: 5px;
    height: 15px;
    width: 300px;
}

textarea{
    display: block;
    height: 120px;
    width: 310px;
}

.botoes{
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
#enviar{
    background-color:rgb(44, 44, 44) ;
    color: white;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px ;
    padding-bottom:10px ;
    border-radius: 5px;
  
}

#limpar{
    background-color:rgb(44, 44, 44) ;
    color: white;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px ;
    padding-bottom:10px ;
    border-radius: 5px;
    
}
